/*================================================================================================================================================


					STYLE SHEET TO DEAL WITH INTERNET EXPLORER CAVEATS AND INCONSISTENCIES FOR FON WEBSITE


================================================================================================================================================*/


/*========================================================================
SMS VERIFICATION START
========================================================================*/
* html #smsVerification {
	position: absolute;
}
/*========================================================================
SMS VERIFICATION END
========================================================================*/



/*========================================================================
USERZONE HIDDEN LAYER START
========================================================================*/
/*filter to affect IE6*/
* html div#uz_hidden {
	z-index: 200;
	position: absolute;
	left: 200px;
	border: 3px solid #F49B10;
	background-color: white;
	width: 750px;
	top: auto;
	bottom: auto;
}
/*Filter for IE7*/
*+html div#uz_hidden div#inner {
	overflow-y: scroll;
}
*+html div#uz_hidden div#inner>table {
	width: 728px;
}
/*========================================================================
USERZONE HIDDEN LAYER END
========================================================================*/



/*========================================================================
UPPER AREA START
========================================================================*/
* html #cTimer {
	padding-bottom: 2px;
}
/*========================================================================
UPPER AREA END
========================================================================*/



/*========================================================================
userzone_configure_router START
========================================================================*/
* html .userzone .configure_router div#uz_hidden {
	bottom: 200px;
}
/*========================================================================
userzone_configure_router END
========================================================================*/



/*========================================================================
userzone_userzone_connection_log START
========================================================================*/	
*+html .userzone .userzone_connection_log .routerInstance .table {
	overflow-y: scroll;
}
*+html .userzone .userzone_connection_log .routerInstance .table>table {
	width: 728px;
}
/*========================================================================
userzone_userzone_connection_log END
========================================================================*/
